{% extends "run/base_14.html" %}

{% block init %}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load('visualization', '1', {packages: ['corechart']});
</script>
<script type="text/javascript">
    
	function drawDistance() {
		// Create and populate the data table.

		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Distance'); 
		data.addColumn('number', 'Total (mi)');
		data.addColumn('number', 'Avg. (mi)'); 
		data.addColumn({type:'number', role:'interval'});
		data.addColumn({type:'number', role:'interval'});

		var rowData = [
		{% for ag in all_ags reversed %}
		['{{ag.first_date|date:"j/n/y"}}', 
			{{ag.distance|floatformat:2}},
			{{ag.average|floatformat:2}},
			{{ag.minimum|floatformat:2}},
			{{ag.maximum|floatformat:2}},
		],
		{% endfor %}
			];
		data.addRows(rowData);

        // Create and draw the visualization.
        var ac = new google.visualization.ComboChart(document.getElementById('visualization-distance'));
		var options = {
			backgroundColor: '#fefbf1',
			fontSize : 14,
			fontName : 'sans-serif',
			width: 820,
			height: 380,
			curveType: 'function',
			interpolateNulls: true,
			isStacked: false,
			legend: {position: 'top'},
			hAxis: {
				textStyle: {color: 'grey', fontName:'sans-serif', fontSize:12}},
			series: {
				0: {type: "bars", targetAxisIndex: 0, color: '#ccc'}, 
				1: {type: "lines", targetAxisIndex: 1, color: '#2aa198', lineWidth: 3}, 
				
			},
			vAxes:{
				0:{	
					logScale: true,
					title:'Total',
					textStyle:{color: 'grey'}, 
				}
			},
			vAxes:{
				1:{	
					logScale: true,
					title:'Average',
					textStyle:{color: 'grey'}, 
				}
			},
		};
        ac.draw(data, options);
	}
	
	function drawEfficiency() {
		// Create and populate the data table.

		var data = new google.visualization.DataTable();
		data.addColumn('string', 'Efficiency'); 
		data.addColumn('number', 'Yield'); 
		data.addColumn('number', 'Speed');
		data.addColumn({type:'string', role:'tooltip'});
		data.addColumn('number', 'Heart rate'); 
		data.addColumn({type:'string', role:'tooltip'});

		var rowData = [
		{% for ag in all_ags reversed %}
		['{{ag.first_date|date:"j/n/y"}}', 
			{{ag.efficiency|floatformat:2}},
			{{ag.speed|floatformat:2}},
			'Pace: {{ag.pace}}/mi',
			{{ag.beats_per_second|floatformat:2}},
			'Heart rate: {{ag.heart_rate|floatformat:0}} b/m',
		],
		{% endfor %}
			];
		data.addRows(rowData);

        // Create and draw the visualization.
        var ac = new google.visualization.ComboChart(document.getElementById('visualization-efficiency'));
		var options = {
			backgroundColor: '#fefbf1',
			fontSize : 14,
			fontName : 'sans-serif',
			width: 820,
			height: 380,
			curveType: 'function',
			interpolateNulls: true,
			legend: {position: 'top'},
			hAxis: {
				textStyle: {color: 'grey', fontName:'sans-serif', fontSize:12}},
			series: {
				0: {type: "lines", targetAxisIndex: 1, color: '#ccc', lineWidth: 3}, 
				1: {type: "lines", targetAxisIndex: 0, color: '#2aa198', lineWidth: 3}, 
				2: {type: "lines", targetAxisIndex: 0, color: '#d33682', lineWidth: 3}, 
			},
			vAxes:{
				0:{	
					logScale: true,
					title:'Meters-per',
					textStyle:{color: 'grey'}, 
				}
			},
			vAxes:{
				1:{	
					logScale: true,
					title:'Yield',
					textStyle:{color: 'grey'}, 
				}
			},
		};
        ac.draw(data, options);
	}

	google.setOnLoadCallback(drawDistance);
	google.setOnLoadCallback(drawEfficiency);
</script>
{% endblock init %}

{% block title %} The Runs: All {% endblock title %}

{% block section-home %}{% if sameuser %}class="active"{% endif %}{%endblock%}

{% block main_14 %}

<h2>Distance:</h2>

<div id="visualization-distance"></div>
		
<h2>Efficiency:</h2>

<div id="visualization-efficiency"></div>
{% endblock main_14 %}