{% extends "run/base_14.html" %}

{% block init %}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load('visualization', '1', {packages: ['corechart']});
</script>
<script type="text/javascript">
    
	function drawVis(rowData, elem) {
		// Create and populate the data table.
        var data = google.visualization.arrayToDataTable(rowData);

        // Create and draw the visualization.
        var ac = new google.visualization.ComboChart(document.getElementById(elem));
		var options = {
			backgroundColor: '#fefbf1',
			fontSize : 14,
			fontName : 'Helvetica',
			width: 820,
			height: 340,
			curveType: 'function',
			hAxis: {
				textStyle: {color: 'grey', fontName:'Helvetica', fontSize:12}},
			series: {
				0: {type: "bars", targetAxisIndex: 1, color: '#93a1a1'}, 
				1: {type: "line", targetAxisIndex: 0, color: '#d33682'},
				2: {type: "line", targetAxisIndex: 0, color: '#2aa198'}
			},
			vAxes:{
				0:{
					title:'Productivity & Speed',
					textStyle:{color: 'grey'}, 
					logScale: true, 
					baselineColor: '#93a1a1',
					// viewWindowMode: 'explicit',
					// 					viewWindow: {min: 0.85, max: 2.6}
				},
				1:{	
					title:'Distance',
					textStyle:{color: 'grey'}, 
				}
			},
		};
        ac.draw(data, options);
	}
	
	function drawWeeks() {
		var rowData = [
			['Week','Distance','Productivity (m/b)', 'Speed (m/s)'],
		{% for week in all_weeks reversed %}
			['{{week.first_date|date:"n/j"}}', 
			  {{week.distance}}, 
			  {{week.efficiency|floatformat:3}}, 
			  {{week.speed|floatformat:3}}],
		{% endfor %}
			]
			
		drawVis(rowData, 'visualization-weeks')
	}
	
	function drawMonths() {
		var rowData = [
			['Month','Distance (mi)','Productivity (m/b)', 'Speed (m/s)'],
		{% for month in all_months reversed %}
			['{{month.first_date|date:"n/y"}}', 
			  {{month.distance}}, 
			  {{month.efficiency|floatformat:3}}, 
			  {{month.speed|floatformat:3}}],
		{% endfor %}
			]
		
		drawVis(rowData, 'visualization-months')
	}

	google.setOnLoadCallback(drawWeeks);
	google.setOnLoadCallback(drawMonths);
</script>
{% endblock init %}

{% block title %} Track/Run: Home {% endblock title %}

{% block section-home %}{% if sameuser %}class="active"{% endif %}{%endblock%}

{% block main_14 %}
{% load humanize %}
<p style="font-size: 20px; text-align: center;">
	{% if this_week.distance %}
	<strong>This week</strong> {{ has_run }} 
	<strong>{{ this_week.distance|floatformat:1 }} mi</strong> 
	at pace <strong>{{ this_week.pace }}</strong> and 
	burned <strong>{{this_week.calories|intcomma}} kcal</strong>.
	{% else %}
	<strong>This week</strong> {{ has_not_run }} any miles. 
	{% endif %}
	<br/>
	{% if last_week.distance %}
	<strong>Last week</strong> {{ did_run }} 
	<strong>{{ last_week.distance|floatformat:1 }} mi</strong> 
	at pace <strong> {{ last_week.pace }}</strong> and
	burned <strong>{{last_week.calories|intcomma}} kcal</strong>.
	{% else %}
	<strong>Last week</strong> {{ did_not_run }} any miles. 
	{% endif %}
</p>

<div id="visualization-weeks" style="width: 820px; height: 340px;"></div>

<p style="font-size: 20px; text-align: center;">
	{% if this_month.distance %}
	<strong>This month</strong> {{ has_run }}
	<strong>{{ this_month.distance|floatformat:1 }} mi</strong> 
	at pace <strong>{{ this_month.pace }}</strong> and
	burned <strong>{{this_month.calories|intcomma}} kcal</strong>. 
	{% else %}
	<strong>This month</strong> {{ has_not_run }} any miles. 
	{% endif %}
	<br/>
	{% if last_month.distance %}
	<strong>Last month</strong> {{ did_run }}
	<strong>{{ last_month.distance|floatformat:1 }} mi</strong>
	at pace <strong>{{ last_month.pace }}</strong> and
	burned <strong>{{last_month.calories|intcomma}} kcal</strong>. 
	{% else %}
	<strong>Last month</strong> {{ did_not_run }} any miles. 
	{% endif %}
</p>
		
<div id="visualization-months" style="width: 820px; height: 340px;"></div>
		
{% endblock main_14 %}