{% extends "run/base_14.html" %}

{% block init %}
<script type="text/javascript" src="http://www.google.com/jsapi"></script>
<script type="text/javascript">
	google.load('visualization', '1', {packages: ['corechart']});
</script>
<script type="text/javascript">
    
	function drawVis(rows, domain) {
		// Create and populate the data table.

		var data = new google.visualization.DataTable();
		data.addColumn('string', domain); 
		data.addColumn('number', 'Yield (m/b)'); 
		data.addColumn('number', 'Speed (m/s)'); 
		data.addColumn({type:'string', role:'tooltip'}); // annotation role col.
		data.addColumn('number', 'Total Distance (mi)'); 
		data.addColumn('number', 'Avg. Distance (mi)'); 
		data.addRows(rows);


        // Create and draw the visualization.
        var ac = new google.visualization.ComboChart(document.getElementById('visualization-' + domain));
		var options = {
			backgroundColor: '#fefbf1',
			fontSize : 14,
			fontName : 'sans-serif',
			width: 820,
			height: 360,
			curveType: 'function',
			interpolateNulls: true,
			hAxis: {
				textStyle: {color: 'grey', fontName:'sans-serif', fontSize:12}},
			series: {
				0: {type: "line", targetAxisIndex: 0, color: '#d33682', lineWidth: 3, pointSize: 4},
				1: {type: "line", targetAxisIndex: 0, color: '#2aa198', lineWidth: 3, pointSize: 4},
				2: {type: "bars", targetAxisIndex: 1, color: '#ccc'}, 
				3: {type: "bars", targetAxisIndex: 1, color: '#93a1a1'}, 
			},
			vAxes:{
				0:{
					title:'Efficiency',
					textStyle:{color: 'grey'}, 
					logScale: true, 
					baselineColor: '#93a1a1',
				},
				1:{	
					logScale: true,
					title:'Distance',
					textStyle:{color: 'grey'}, 
					baseline: 1.0,
				}
			},
		};
        ac.draw(data, options);
	}
	
	function drawWeeks() {
		var rowData = [
			//['Week','Yield (m/b)','Speed (m/s)','Total Distance (mi)','Avg. Distance (mi)'],
		{% for week in all_weeks reversed %}
			['{{week.first_date|date:"n/j"}}', 
			  {{week.efficiency|floatformat:3}}, 
			  {{week.speed|floatformat:3}},
			  'Pace: {{week.pace}}',
			  {{week.distance|floatformat:2}},
	  		  {{week.average|floatformat:2}},
			],
		{% endfor %}
			]
			
		drawVis(rowData, 'weeks');
	}
	
	function drawMonths() {
		var rowData = [
			//['Month','Yield (m/b)','Speed (m/s)','Total Distance (mi)','Avg. Distance (mi)'],
		{% for month in all_months reversed %}
			['{{month.first_date|date:"n/y"}}', 
			  {{month.efficiency|floatformat:3}}, 
			  {{month.speed|floatformat:3}},
			  'Pace: {{month.pace}}',
			  {{month.distance|floatformat:2}},
     	      {{month.average|floatformat:2}},
			],
		{% endfor %}
			]
		
		drawVis(rowData, 'months');
	}

	google.setOnLoadCallback(drawWeeks);
	google.setOnLoadCallback(drawMonths);
</script>
{% endblock init %}

{% block title %} The Runs: Home {% endblock title %}

{% block section-home %}{% if sameuser %}class="active"{% endif %}{%endblock%}

{% block main_14 %}
{% load humanize %}
<p style="font-size: 20px; text-align: center;">
	{% if this_week.distance %}
	<strong>This week</strong> {{ has_run }} 
	<strong>{{ this_week.distance|floatformat:1 }} mi</strong> 
	at pace <strong>{{ this_week.pace }}</strong> and 
	burned <strong>{{this_week.calories|intcomma}} kcal</strong>.
	{% else %}
	<strong>This week</strong> {{ has_not_run }} any miles. 
	{% endif %}
	<br/>
	{% if last_week.distance %}
	<strong>Last week</strong> {{ did_run }} 
	<strong>{{ last_week.distance|floatformat:1 }} mi</strong> 
	at pace <strong> {{ last_week.pace }}</strong> and
	burned <strong>{{last_week.calories|intcomma}} kcal</strong>.
	{% else %}
	<strong>Last week</strong> {{ did_not_run }} any miles. 
	{% endif %}
</p>

<div id="visualization-weeks" style="width: 820px; height: 360px;"></div>

<p style="font-size: 20px; text-align: center;">
	{% if this_month.distance %}
	<strong>This month</strong> {{ has_run }}
	<strong>{{ this_month.distance|floatformat:1 }} mi</strong> 
	at pace <strong>{{ this_month.pace }}</strong> and
	burned <strong>{{this_month.calories|intcomma}} kcal</strong>. 
	{% else %}
	<strong>This month</strong> {{ has_not_run }} any miles. 
	{% endif %}
	<br/>
	{% if last_month.distance %}
	<strong>Last month</strong> {{ did_run }}
	<strong>{{ last_month.distance|floatformat:1 }} mi</strong>
	at pace <strong>{{ last_month.pace }}</strong> and
	burned <strong>{{last_month.calories|intcomma}} kcal</strong>. 
	{% else %}
	<strong>Last month</strong> {{ did_not_run }} any miles. 
	{% endif %}
</p>
		
<div id="visualization-months" style="width: 820px; height: 360px;"></div>

{% if theuser %}
<div style="padding-top: 20px; padding-right: 40px; float: right; font-size: 14px;">		
More <a href="all">historical</a> and <a href="yield">correlative</a> charts, 
or <a href="/_we">everyone's runs</a>&#8230;
</div>
{% endif %}

{% endblock main_14 %}
