{% extends "run/base_14.html" %}

{% block init %}
<script type="text/javascript"> 
	$(document).ready( function(){
	$('input[tabindex=1]').focus();
	});
</script>
{% endblock init %}

{% block title %} Track/Run: Edit Profile {% endblock title %}

{% block section-profile %}class="active"{%endblock%}

{% block main_14 %}

	<form action="/profile/update/" method="post">
	<fieldset>
	<legend>Update Profile</legend>

	{% for field in uform %}

	<div class="clearfix {% if field.errors %}error{% endif %}">
		<label for="{{ field.auto_id }}">{{ field.label }}</label>
		<div class="input">
			{{ field }}
			{{ field.errors }}
	    </div>	
	</div>
	
	{% endfor %}
	
	<hr/>

	{% for field in pform %}

	<div class="clearfix {% if field.errors %}error{% endif %}">
		<label for="{{ field.auto_id }}">{{ field.label }}</label>
		<div class="input">
			{{ field }}
			{{ field.errors }}
	    </div>	
	</div>
	
	{% endfor %}

	<div class="clearfix">
		<div class="input">
			{% csrf_token %}
			<input type="hidden" name="user" value="{{ user.id }}" />
			<input type="submit" class="btn primary" value="Update Profile" />
		</div>
	</div>

	</fieldset>
	</form>

{% endblock main_14 %}
