{% extends "run/base_14.html" %}

{% block title %} The Runs: Profile {% endblock title %}

{% block init %}
{% include "run/table_init.html" %}
{% endblock init %}

{% block section-profile %}class="active"{% endblock %}

{% block main_14 %}
	<div class="row">
		<div class="span4">
			<h2>Runs</h2>
		</div>
		<div class="span6 offset4">
			<ul class="breadcrumb pull-right">
				<li class="active">Recent</li> <span class="divider">/</span>
				<li><a href="/{{user.username|default:'_bounce'}}/run">All</a></li> <span class="divider">/</span>
				<li><a href="/{{user.username|default:'_bounce'}}/run/add">Add</a></li> 
			</ul>
		</div>
	</div>
	{% include "run/run_table.html" with runlist=runs show_clear=False %}
		
	<br/>
	
	<div class="row">
		<div class="span4">
			<h2>Shoes</h2>
		</div>
		<div class="span6 offset4">
			<ul class="breadcrumb pull-right">
				<li class="active">Recent</li> <span class="divider">/</span>
				<li><a href="/{{user.username|default:'_bounce'}}/shoe">All</a></li> <span class="divider">/</span>
				<li><a href="/{{user.username|default:'_bounce'}}/shoe/add">Add</a></li> 
			</ul>
		</div>
	</div>
	{% include "run/shoe_table.html" with shoelist=shoes show_clear=False %}

	<br/>
			
	<h2>Profile</h2>
	<div class="row">
		<div class="span5">
			<dl>
				<dt>User name</dt>
				<dd>{{ user.username }}</dd>
				<dt>Real name</dt>
				<dd>{{ user.first_name }} {{ user.last_name }}</dd>
				<dt>Email</dt>
				<dd>{{ user.email }}</dd>
			</dl>
		</div>
		<div class="span4 offset9">
			<dl>
				<dt>Sex</dt>
				<dd>{{ profile.gender|yesno:"male,female,neither" }}</dd>
				<dt>Weight</dt>
				<dd>{{ profile.weight }} lbs</dd>
				<dt>Age</dt>
				<dd>{{ profile.age_in_years }} years</dd>
			</dl>
		</div>
		<div class="span4 offset12">
			<dl>
				<dt>Resting heart rate</dt>
				<dd>{{ profile.resting_heart_rate }} <sup>b</sup>&frasl;<sub>min</sub></dd>
				<dt>Maximum heart rate&sup1;</dt>
				<dd>{{ profile.maximum_heart_rate|floatformat:0 }} <sup>b</sup>&frasl;<sub>min</sub> </dd>
				<dt>vO<sub>2</sub>max&sup1;</dt>
				<dd>{{ profile.vO2max|floatformat:0 }} <sup>ml</sup>&frasl;<sub>kg &middot; min</sub></dd>
			</dl>
		</div>
	</div>
	<div class="row">
		<div class="span8">
			(&sup1;) <i>Values are approximated using profile data.</i>
		</div>
	</div>
	<!-- a href="/profile/update">Update profile.</a-->
	


{% endblock main_14 %}
