{% extends "run/base_14.html" %}

{% block init %}
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-modal.js"></script>
<script type="text/javascript"> 
	$(document).ready( function(){
	$('input[tabindex=1]').focus();
	});
</script>
{% endblock init %}

{% block title %} The Runs: Update Profile {% endblock title %}

{% block section-profile %}class="active"{%endblock%}

{% block main_14 %}

	<form action="/{{user.username|default:'_bounce'}}/profile/update/" method="post">
	<fieldset>
	<legend>Update Profile</legend>

	{% for field in uform %}

	<div class="clearfix {% if field.errors %}error{% endif %}">
		<label for="{{ field.auto_id }}">{{ field.label }}</label>
		<div class="input">
			{{ field }}
			{{ field.errors }}
	    </div>	
	</div>
	
	{% endfor %}
	
	<hr/>

	{% for field in pform %}

	<div class="clearfix {% if field.errors %}error{% endif %}">
		<label for="{{ field.auto_id }}">{{ field.label }}</label>
		<div class="input">
			{{ field }}
			{{ field.errors }}
	    </div>	
	</div>
	
	{% endfor %}

	<div class="clearfix">
		<div class="input">
			{% csrf_token %}
			<input type="hidden" name="user" value="{{ user.id }}" />
			<input type="submit" class="btn primary" value="Update Profile" tabindex="10"/>
		</div>
	</div>

	</fieldset>
	</form>
	
	<hr/>
	
	<div class="span10">
	<i>Your sex, weight, birthdate and resting heart rate are used to approximate the amount of calories you burn while running. Use a heart-rate monitor and log your average heart rate with each run for the best approximation.</i><br/><br/>


		<div id="modal-from-dom" class="modal hide fade">
			<div class="modal-header">
			  <a href="#" class="close">&times;</a>
			  <h3>Really delete your account?</h3>
			</div>
			<div class="modal-body">
			  <p>Are you sure you want to delete your account? This will permanently delete all of your past running data and <b>cannot be undone.</b></p>
			</div>
			<div class="modal-footer">
				<a href="#" class="btn primary" onclick="javascript:$('#modal-from-dom').modal('hide')">No, don't delete my account.</a>
				<a href="/profile/delete?really=yes" class="btn secondary danger">Yes, really delete my account.</a>
			  
			</div>
		</div>

		<a href="#" data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true">Delete your account...</a>
	</div>

{% endblock main_14 %}
