{% extends "run/base_14.html" %}

{% block title %}The Runs: Password Reset {% endblock title %}

{% block init %}
<script type="text/javascript"> 
	$(document).ready( function(){
	$('input[tabindex=1]').focus();
	});
</script>
{% endblock init %}
{% block header %} Password Reset {% endblock header %}

{% block login-menu %}{% endblock login-menu %}

{% block main_14 %}

	<form action="/reset_start/" method="post">
	{% csrf_token %}
	<fieldset>
	<legend> Request password reset </legend>

	<div class="clearfix">
		<label for="username">Username</label>
		<div class="input">
			<input tabindex="1" type="text" name="username" id="username" 
				class="input-large" value="{{username}}">
		</div>
	</div>	

	<div class="clearfix">
		<div class="input">
			<button tabindex="2" name = "login" class="btn primary">Request</button>
		</div>
	</div>

	</fieldset>
	</form>

{% endblock main_14 %}