{% extends "run/base_14.html" %}

{% block init %}
<script type="text/javascript"> 
	$(document).ready( function(){
	$('input[tabindex=5]').focus();
	});
</script>
{% endblock init %}

{% block title %} The Runs: Add Run {% endblock title %}

{% block section-addrun %}class="active"{%endblock%}

{% block main_14 %}
	
	{% if profile %}
		
		<form action="/{{user.username|default:'_bounce'}}/run/update" method="post">
		<fieldset>
		<legend> Record a new run </legend>

		<div class="clearfix">
			<label for="date_day">Date</label>
			<div class="input">
				<input type="text" name="date_month" id="date_month" 
					class = "mini" value="{% now "n" %}" tabindex="1">
				<input type="text" name="date_day" id="date_day" 
					class = "mini" value="{% now "j" %}" tabindex="2">
				<input type="text" name="date_year" id="date_year" 
					class = "mini" value="{% now "Y" %}" tabindex="3">
			</div>
		</div>

		<div class="clearfix">
			<label for="duration_minutes">Duration</label>
			<div class="input">
				<input type="text" name="duration_hours" 
					id="duration_hours" class="mini" placeholder="HH" 
					tabindex="4"/>	
				<input type="text" name="duration_minutes" 
					id="duration_minutes" class="mini" placeholder="MM" 
					tabindex="5"/>
				<input type="text" name="duration_seconds" 
					id="duration_seconds" class="mini" placeholder="SS" 
					tabindex="6"/>
			</div>
		</div>

		<div class="clearfix">
			<label for="average_heart_rate">Heart rate</label>
			<div class="input">
				<input type="text" name="average_heart_rate" 
					id="average_heart_rate" class="mini" tabindex="7" placeholder="123">
			</div>
		</div>

		<div class="clearfix">
			<label for="distance">Distance</label>
			<div class="input">
				<input type="text" name="distance" id="distance" class="mini"  
					tabindex="8" placeholder="4.56">
		    </div>	
		</div>

		<div class="clearfix">
			<label for="shoe">Shoe</label>
			<div class="input">
				<select name="shoe" id="shoe" class="span6" tabindex="9">
					<option value="">None</option>
				{% for shoe in shoes %}
					<option value="{{ shoe.id }}"
						{% if shoe.id == profile.last_shoe.id %}
							selected="selected"
						{% endif %}>
						{{ shoe.make }} {{ shoe.model }} 
						({{ shoe.miles|floatformat:0 }} mi)
					</option>
				{% endfor %}
				</select>
			</div>
		</div>

		<div class="clearfix">
			<div class="input">
				{% csrf_token %}
				<input type="hidden" name="userprofile" 
					value="{{ profile.id}}" />
				<input type="submit" class="btn primary" value="Add Run" 
					tabindex="10"/>
			</div>
		</div>

		</fieldset>
		</form>
		
	{% else %}
		<p>No such profile.</p>
	{% endif %}

{% endblock main_14 %}
