{% extends "run/base_14.html" %}

{% block init %}
<script type="text/javascript"> 
	$(document).ready( function(){
	$('input[tabindex=5]').focus();
	});
</script>
{% endblock init %}

{% block title %} The Runs: Add Run {% endblock title %}

{% block section-addrun %}class="active"{%endblock%}

{% block main_14 %}
	
		<form action="/{{user.username|default:'_bounce'}}/run/add" method="post">
		<fieldset>
		<legend> Record a new run </legend>

 		{{ form.non_field_errors }}

		<div class="clearfix 
			{% if form.date.errors %}error
			{% elif form.date_month.errors %}error
			{% elif form.date_day.errors %}error
			{% elif form.date_year.errors %}error{% endif %}">
			<label for="form.date_month.auto_id">Date</label>
			<div class="input">
				<input type="text" name="date_month" id="date_month" 
					class = "mini" value="{{ form.date_month.value }}" tabindex="1">
				<input type="text" name="date_day" id="date_day" 
					class = "mini" value="{{ form.date_day.value }}" tabindex="2">
				<input type="text" name="date_year" id="date_year" 
					class = "mini" value="{{ form.date_year.value }}" tabindex="3">
				{{ form.date.errors }}
				{{ form.date_month.errors }}
				{{ form.date_day.errors }}
				{{ form.date_year.errors }}
			</div>
		</div>

		<div class="clearfix
			{% if form.duration_hours.errors %}error
			{% elif form.duration_minutes.errors %}error
			{% elif form.duration_seconds.errors %}error{% endif %}">
			<label for="duration_minutes">Duration</label>
			<div class="input">
				<input type="text" name="duration_hours" 
					id="duration_hours" class="mini" placeholder="HH" 
					{% if form.duration_hours.value %}value="{{form.duration_hours.value}}"{% endif %}
					tabindex="4"/>	
				<input type="text" name="duration_minutes" 
					id="duration_minutes" class="mini" placeholder="MM" 
					{% if form.duration_minutes.value %}value="{{form.duration_minutes.value}}"{% endif %}
					tabindex="5"/>
				<input type="text" name="duration_seconds" 
					id="duration_seconds" class="mini" placeholder="SS" 
					{% if form.duration_seconds.value %}value="{{form.duration_seconds.value}}"{% endif %}
					tabindex="6"/>
					{{ form.duration.errors }}
					{{ form.duration_hours.errors }}
					{{ form.duration_minutes.errors }}
					{{ form.duration_seconds.errors }}
			</div>
		</div>

		<div class="clearfix {% if form.average_heart_rate.errors %}error{% endif %}">
			<label for="average_heart_rate">Heart rate</label>
			<div class="input">
				<input type="text" name="average_heart_rate" 
					id="average_heart_rate" class="mini" tabindex="7" placeholder="123"
					{% if form.average_heart_rate.value %}value="{{form.average_heart_rate.value}}"{% endif %}>
				{{ form.average_heart_rate.errors }}
			</div>
		</div>

		<div class="clearfix {% if form.distance.errors %}error{% endif %}">
			<label for="distance">Distance</label>
			<div class="input">
				<input type="text" name="distance" id="distance" class="mini"  
					tabindex="8" placeholder="4.56"
					{% if form.distance.value %}value="{{form.distance.value}}"{% endif %}>
				{{ form.distance.errors }}
		    </div>	
		</div>

		<div class="clearfix {% if form.shoe.errors %}error{% endif %}">
			<label for="shoe">Shoe</label>
			<div class="input">
				<select name="shoe" id="shoe" class="span6" tabindex="9">
					<option value="">None</option>
				{% for sh in form.fields.shoe.queryset %}
					<option value="{{ sh.id }}"
						{% ifequal sh.id|stringformat:"s" form.shoe.value|stringformat:"s" %}
							selected="selected"
						{% endifequal %}>
						{{ sh.make }} {{ sh.model }} 
						({{ sh.miles|floatformat:0 }} mi)
					</option>
				{% endfor %}
				</select>
				{{ form.shoe.errors }}
			</div>
		</div>

		<div class="clearfix">
			<div class="input">
				{% csrf_token %}
				<input type="hidden" name="user" value="{{user.id}}" />
				<input type="hidden" name="date" value="{{form.date.value}}" />
				<input type="hidden" name="duration" value="{{form.duration.value}}" />
				<input type="submit" class="btn primary" value="Add Run" 
					tabindex="10"/>
			</div>
		</div>

		</fieldset>
		</form>

{% endblock main_14 %}
