{% load humanize %}
<table>
	<thead>
		<tr> 
			<th>Date</th>
			<th>Distance</th>
			<th>Duration</th>
			<th>Pace</th>
			<th>Energy</th>
			<th>HR</th>
			<th>HR %</th>
			<th title="Distance run (in meters) per heartbeat">Yield</th>
			{% if show_clear %}<th><i>Clear</i></th>{% endif %}
		</tr>
	</thead>
{% if runlist %}
{% for run in runlist %}
	<tr>
		<td>{{ run.date|naturalday|capfirst }}</td>
		<td>{{ run.distance|floatformat:2 }} mi</td>
		<td>{{ run.duration_as_string }}</td>
		<td>{{ run.pace }}</td>
		<td>{{ run.calories|floatformat:0 }} kcal</td>
		<td>{% if run.average_heart_rate %} 
			{{ run.average_heart_rate }} <sup>b</sup>&frasl;<sub>min</sub>
			{% else %}
			<i>None</i>
			{% endif %}</td>
		<td>{% if run.average_heart_rate %} 
			{% if run.zone %}
			<a href="#" class="zone-any zone-{{run.zone}}" rel="twipsy" 
				title="{{run.zone_description|capfirst}} heart rate zone ({{run.zone}} of 5)">
			{% endif %}
			{{run.heart_rate_percent|floatformat:0}}%
			{% if run.zone %}
			</a>
			{% endif %}
			{% else %}
			<i>None</i>
			{% endif %}</td>
		<td>{% if run.average_heart_rate %} 
			{{ run.efficiency|floatformat:3 }} <sup>m</sup>&frasl;<sub>b</sub>
			{% else %}
			<i>None</i>
			{% endif %}</td>
		{% if show_clear %}<td><a href="/run/remove/{{run.id}}">Clear</a></td>{% endif %}
	</tr>
{% endfor %}
{% else %}
	<tr>
		<td colspan="7">No runs found. <a href="/run/new">Add a new run.</a></td>
	</tr>
{% endif %}
</table>