{% extends "run/base_14.html" %}

{% block init %}
<script type="text/javascript"> 
	$(document).ready( function(){
	$('input[tabindex=1]').focus();
	});
</script>
{% endblock init %}

{% block title %} The Runs: Add Shoe {% endblock title %}

{% block section-profile %}class="active"{%endblock%}

{% block main_14 %}

	<form action="/{{user.username|default:'_bounce'}}/shoe/add" method="post">
	<fieldset>
	<legend>Add a new shoe </legend>

	<div class="clearfix{% if form.make.errors %} error{% endif %}">
		<label for="id_make">Make</label>
		<div class="input">
			<input type="text" name="make" id="id_make" class="large" tabindex="1" 
				placeholder="Nike"{% if form.make.value %} value="{{form.make.value}}"{% endif %}>
			{{ form.make.errors }}
	    </div>	
	</div>

	<div class="clearfix{% if form.model.errors %} error{% endif %}">
		<label for="id_model">Model</label>
		<div class="input">
			<input type="text" name="model" id="id_model" class="large" tabindex="2" 
				placeholder="Free Run+ 3 (Yellow)"{% if form.model.value %} value="{{form.model.value}}"{% endif %}>
			{{ form.model.errors }}
	    </div>	
	</div>

	<div class="clearfix{% if form.miles.errors %} error{% endif %}">
		<label for="id_miles">Current mileage</label>
		<div class="input">
			<input type="text" name="miles" id="id_miles" class="mini" tabindex="3" 
				placeholder="0"{% if form.miles.value %} value="{{form.miles.value}}"{% endif %}>
			{{ form.miles.errors }}
	    </div>	
	</div>

	<div class="clearfix">
		<div class="input">
			{% csrf_token %}
			<input type="hidden" name="user" value="{{user.id}}" />
			<input type="hidden" name="active" value="{{form.active.value}}" />
			<input type="submit" class="btn primary" value="Add Shoe" tabindex="4"/>
		</div>
	</div>

	</fieldset>
	</form>

{% endblock main_14 %}
