{% extends "run/base_14.html" %}

{% block init %}
<script type="text/javascript"> 
	$(document).ready( function(){
	$('input[tabindex=1]').focus();
	});
</script>
{% endblock init %}

{% block title %} The Runs: Add Shoe {% endblock title %}

{% block section-profile %}class="active"{%endblock%}

{% block main_14 %}

	<form action="/{{user.username|default:'_bounce'}}/shoe/add" method="post">
	<fieldset>
	<legend>Add a new shoe </legend>

	<div class="clearfix">
		<label for="id_make">Make</label>
		<div class="input">
			<input type="text" name="make" id="id_make" class="large" tabindex="1" placeholder="Adidas">
	    </div>	
	</div>

	<div class="clearfix">
		<label for="id_model">Model</label>
		<div class="input">
			<input type="text" name="model" id="id_model" class="large" tabindex="2" placeholder="Response Cushion 19">
		</div>
	</div>

	<div class="clearfix">
		<label for="id_miles">Current Mileage</label>
		<div class="input">
			<input type="text" name="miles" id="id_miles" class="mini" tabindex="3" value="0">
		</div>
	</div>

	<div class="clearfix">
		<div class="input">
			{% csrf_token %}
			<input type="hidden" name="user" value="{{ user.id }}" />
			<input type="submit" class="btn primary" value="Add Shoe" tabindex="4"/>
		</div>
	</div>

	</fieldset>
	</form>

{% endblock main_14 %}
