<table>
	<thead>
		<tr>
			<th>Make</th>
			<th>Model</th>
			<th>Distance</th>
			{% if show_clear %}<th>Active?</th>{% endif %}
			<th><i>Retire</i>&nbsp;</th>
			{% if show_clear %}<th><i>Clear</i>&nbsp;</th>{% endif %}
		</tr>
	</thead>
{% if shoelist %}
{% for shoe in shoelist %}
	<tr>
    	<td>{{ shoe.make }}</td>
		<td>{{ shoe.model }}</td>
		<td>{% if shoe.miles <= 50 %}
			<a href="#" class="zone-any zone-1" rel="twipsy" 
				title="These shoes are still new. Break them in a little at a time.">
			{% endif %}
			{% if shoe.miles > 50 and shoe.miles <= 300 %}
			<a href="#" class="zone-any zone-2" rel="twipsy" 
				title="These shoes are in their prime. Go running!">
			{% endif %}
			{% if shoe.miles > 300 and shoe.miles <= 400 %}
			<a href="#" class="zone-any zone-3" rel="twipsy" 
				title="These shoes have some miles left, but start looking for a new pair.">
			{% endif %}
			{% if shoe.miles > 400 and shoe.miles <= 500 %}
			<a href="#" class="zone-any zone-4" rel="twipsy" 
				title="These shoes are nearly worn out. Start breaking in a new pair.">
			{% endif %}
			{% if shoe.miles > 500 %}
			<a href="#" class="zone-any zone-5" rel="twipsy" 
				title="These shoes are worn out, and should be retired.">
			{% endif %}
			{{shoe.miles|floatformat:0}} mi</a></td>
		{% if show_clear %}<td>{{shoe.active|yesno:"Yes,No"}}</td>{% endif %}
		{% if shoe.active %}<td><a href="/shoe/retire/{{shoe.id}}">Retire</a></td>{% endif %}
		{% if not shoe.active %}<td><a href="/shoe/activate/{{shoe.id}}">Activate</a></td>{% endif %}
		{% if show_clear %}<td><a href="/shoe/remove/{{shoe.id}}">Clear</a></td>{% endif %}
	</tr>
{% endfor %}
{% else %}
	<tr>
		<td colspan="7">No shoes found. <a href="/shoe/new">Add a new pair of shoes.</a></td>
	</tr>
{% endif %}
</table>