{% extends "run/base_14.html" %}

{% block title %}The Runs: Sign up {% endblock title %}

{% block init %}
<script type="text/javascript"> 
	$(document).ready( function(){
	$('input[tabindex=1]').focus();
	});
</script>
<style type="text/css">
	#recaptcha_response_field {
    	height: 16px; 
    	line-height: 16px; 
    	font-size: 16px; 
    }
</style>
{% endblock init %}

{% block header %} Sign up {% endblock header %}

{% block login-menu %}{% endblock login-menu %}

{% block main_14 %}

	<form action="/_signup/" method="post">
	{% csrf_token %}
	<fieldset>
	<legend> New account information </legend>

	{% for field in uform %}

	<div class="clearfix {% if field.errors %}error{% endif %}">
		<label for="{{ field.auto_id }}">{{ field.label }}</label>
		<div class="input">
			{{ field|safe }}
			{{ field.errors }}
	    </div>	
	</div>
	
	{% endfor %}

	<div class="clearfix">
		<div class="input">
			<button tabindex="8" name = "login" class="btn primary">Create account</button>
		</div>
	</div>

	</fieldset>
	</form>

{% endblock main_14 %}