{% extends "run/base_14.html" %}

{% block title %}The Runs: Log your runs! {% endblock title %}

{% block topbar-display %}none{% endblock topbar-display %}

{% block login-menu %}{% endblock login-menu %}

{% block main_14 %}

<div style="text-align: center;">
	<h1 style="font-size: 12em; line-height: 0.8em; padding: 0.1em; font-style: italic; font-weight: 900; letter-spacing:-0.05em">Get the<br/>runs in!</h1> 
	<div class="clearfix">
		<div class="input">
			<button tabindex="1" name = "reset" class="btn primary" onclick="location.href='/_signup/'">Sign up</button>
			<span style="padding: 2em;"></span>
			<button tabindex="2" name = "login" class="btn info" onclick="location.href='/_login/'">Log in</button>
		</div>
	</div>
	<br/><br/>
	(It looks like <a href="/ian/?today=2010-02-14">this</a>.)
</div>

{% endblock main_14 %}
