{% block init %}
<script src="{{ STATIC_URL }}bootstrap/js/bootstrap-twipsy.js"></script>

<style type="text/css">
	.zone-1 { color: royalblue !important; text-decoration: none !important; }
	.zone-2 { color: green !important; text-decoration: none !important; }
	.zone-3 { color: darkorange !important; text-decoration: none !important; }
	.zone-4 { color: orangered !important; text-decoration: none !important; }
	.zone-5 { color: firebrick !important; text-decoration: none !important; }
</style>

<script>
	$(function () {
		$("a[rel=twipsy]").twipsy({
			live: true,
			delayIn: 1000
		})
	})
</script>
{% endblock init %}